header {
    background: #50AF7B8C;
    padding: 25px 0;
    
}
.titulo-pricinpal{
    color: #000000;
    padding: 10px;
    font-size: 20px;    
    text-transform: uppercase;
    font-weight: bolder;
}

.caixa{
    position: relative;
    width: 960px;
    margin: 0 auto;
}

 nav {
    position: absolute;
    top: 10px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
nav :hover a {
    font-size: 21px;
}

#banner {
    padding: 5px 0 0 0;
    width: 100%;
}

.principal {
    background: #50AF7B8C ;
    padding: 40px;
}


.titulo-centralizado {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    margin: 10px 0;

}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #e44f4fd8;
}

.infor{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
} 

.itens {
    font-size: 17px;
    margin: 30px ;
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
}

 .imagenBeneficios {
    width: 25%;
} 

#footer {
    text-align: center;
    background: url("Imagens/bg.jpg");
    padding: 40px 0;
}

 .copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px 0 0;
} 
